:root {
  --el-color-primary: var(--sf-color-theme);
}
html,
body,
#app {
  width: 100%;
  height: 100%;
  /* font-family: 'Alibaba PuHuiTi Regular', 'Alibaba PuHuiTi Medium', 'Alibaba PuHuiTi Bold'; */
}
body {
  font-size: 16px;
  user-select: none;
  color: var(--color-sf-text);
}

span {
  transition: color 0.3s !important;
}
