/* 引入阿里巴巴普惠体 */
@font-face {
  font-family: 'Alibaba PuHuiTi Regular';
  src: url('../assets/Alibaba-PuHuiTi-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Alibaba PuHuiTi Medium';
  src: url('../assets/Alibaba-PuHuiTi-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Alibaba PuHuiTi Bold';
  src: url('../assets/Alibaba-PuHuiTi-Bold.ttf') format('truetype');
}
