/* Tailwind CSS 4 自定义配置 */
@theme inline {
  /* 基本色 */
  --color-sf-basic: var(--sf-color-basic);
  /* 主题色 */
  --color-sf-theme: var(--sf-color-theme);
  /* 主题的hover颜色 */
  --color-sf-theme-hover: var(--sf-color-theme-hover);
  /* 主要色 */
  --color-sf-primary: var(--sf-color-primary);
  /* 主要色的hover颜色 */
  --color-sf-primary-hover: var(--sf-color-primary-hover);
  /* 文本色 */
  --color-sf-text: var(--sf-color-text);
  /* 文本色-2 */
  --color-sf-text-2: var(--sf-color-text-2);
  /* 文本色-3 */
  --color-sf-text-3: var(--sf-color-text-3);
  /* 禁用文本色 */
  --color-sf-text-disabled: var(--sf-color-text-disabled);
  /* 弹窗色 */
  --color-sf-modal: var(--sf-color-modal);
  /* 常规透明色 */
  --color-sf-transparent: var(--sf-color-transparent);
  /* 常规透明色-2 */
  --color-sf-transparent-2: var(--sf-color-transparent-2);
  /* 常规透明色-3 */
  --color-sf-transparent-3: var(--sf-color-transparent-3);
  /* 常规透明色-4 */
  --color-sf-transparent-4: var(--sf-color-transparent-4);
}

/* 亮色模式 */
[data-theme='light'] {
  --sf-color-basic: rgba(0, 0, 0, 1);
  --sf-color-theme: #50a2ff;
  --sf-color-theme-hover: oklch(88.2% 0.059 254.128);
  --sf-color-primary: rgba(255, 255, 255, 1);
  --sf-color-primary-hover: #d1d1d6;
  --sf-color-text: #303133;
  --sf-color-text-2: #606266;
  --sf-color-text-3: #909399;
  --sf-color-text-disabled: #c0c4cc;
  --sf-color-modal: #f2f2f7;
  --sf-color-transparent: color-mix(in oklab, oklch(97% 0.014 254.604) 80%, transparent);
  --sf-color-transparent-2: color-mix(in oklab, oklch(97% 0.014 254.604) 60%, transparent);
  --sf-color-transparent-3: color-mix(in oklab, oklch(97% 0.014 254.604) 40%, transparent);
  --sf-color-transparent-4: color-mix(in oklab, oklch(97% 0.014 254.604) 20%, transparent);
}

/* 深色模式 */
[data-theme='dark'] {
  --sf-color-theme: #50a2ff;
  --sf-color-theme-hover: oklch(88.2% 0.059 254.128);
  --color-sf-basic: rgba(255, 255, 255, 1);
  --sf-color-text: #e5eaf3;
  --sf-color-text-2: #cfd3dc;
  --sf-color-text-3: #a3a6ad;
  --sf-color-text-disabled: #6c6e72;
  --sf-color-modal: rgba(0, 0, 0, 1);
  --sf-color-primary: #1c1c1e;
  --sf-color-primary-hover: #3a3a3c;
  --sf-color-transparent: rgba(0, 0, 0, 0.85);
  --sf-color-transparent-2: rgba(0, 0, 0, 0.6);
  --sf-color-transparent-3: rgba(0, 0, 0, 0.4);
  --sf-color-transparent-4: rgba(0, 0, 0, 0.2);
}

/* 自定义工具类 */
@layer utilities {
  .flex-center {
    @apply flex cursor-pointer items-center justify-center;
  }
  .sf-theme-element {
    @apply cursor-pointer bg-sf-theme text-sf-primary hover:bg-sf-theme-hover hover:text-sf-theme;
  }
  .sf-primary {
    @apply bg-sf-primary text-sf-text hover:bg-sf-primary-hover;
  }
}
